aes==1.0.0
aiohttp==3.7.4
arrow==1.1.0
asgiref==3.3.4
async-timeout==3.0.1
attr==0.3.1
attrs==20.3.0
beautifulsoup4==4.9.3
bitcoin==1.1.42
bs4==0.0.1
certifi==2021.5.30
cffi==1.14.5
chardet==3.0.4
click==8.0.1
colorama==0.4.4
coloredlogs==15.0.1
cors==1.0.1
crypto==1.4.1
crypto-allauth==0.0.5
cryptography==3.4.7
cssselect==1.1.0
cycler==0.10.0
data==0.4
decorator==5.0.9
defusedxml==0.7.1
Django==3.2.4
django-allauth==0.44.0
environs==9.3.0
et-xmlfile==1.1.0
ExifRead==2.3.2
fake-headers==1.0.2
filelock==3.0.12
flashtext==2.7
Flask==2.0.1
Flask-Cors==3.0.10
funcsigs==1.0.2
future==0.18.2
gevent==21.1.2
gitdb==4.0.7
GitHacker==1.0.10
GitPython==3.1.18
greenlet==1.1.0
gunicorn==20.1.0
html5lib==1.1
humanfriendly==9.2
idna==2.7
itsdangerous==2.0.1
Jinja2==3.0.1
kiwisolver==1.3.1
latex==0.7.0
loguru==0.5.3
lxml==4.6.3
MarkupSafe==2.0.1
marshmallow==3.12.1
matplotlib==3.4.2
maxminddb==2.0.3
maxminddb-geolite2==2018.703
meteo-downloader==1.0
multidict==5.1.0
Naked==0.1.31
numpy==1.20.3
oauthlib==3.1.1
openpyxl==3.0.7
pandas==1.2.4
Pillow==8.2.0
pycparser==2.20
pycryptodome==3.10.1
PyJWT==2.1.0
pymongo==3.11.4
PyMySQL==1.0.2
pyparsing==2.4.7
pyquery==1.4.3
pyreadline==2.1
PySocks==1.7.1
python-dateutil==2.8.1
python-dotenv==0.17.1
python3-openid==3.2.0
pytz==2021.1
PyYAML==5.4.1
quickchart.io==0.2.0
redis==3.5.3
requests==2.20.0
requests-file==1.5.1
requests-oauthlib==1.3.0
response==0.5.0
retrying==1.3.3
scipy==1.6.3
selenium==3.141.0
semver==2.13.0
shellescape==3.8.1
shutilwhich==1.1.0
six==1.16.0
smmap==4.0.0
soupsieve==2.2.1
sqlparse==0.4.1
supervisor==4.2.1
tempdir==0.7.1
termcolor==1.1.0
tldextract==3.1.0
tqdm==4.62.0
typing-extensions==3.10.0.0
urllib3==1.24.3
utils==1.0.1
webencodings==0.5.1
Werkzeug==2.0.1
win32-setctime==1.0.3
xlrd==1.2.0
xlwt==1.3.0
xpinyin==0.7.6
yarl==1.6.3
zhtools==0.0.10
zope.event==4.5.0
zope.interface==5.4.0
